
#container {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#pendulum.animate {
    /*animation-name: rotate;*/

    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: transform ease-in-out;
    transition-duration: 2s;
    transform-origin: 50% 0 0;
}

#pendulum {
    transform: rotate(-60deg);
    position: relative;
    left: 44vw;
    height: 50vh;
    width: 12vw;
}

#top {
    background-color: black;
    position: relative;
    left: 4vw;
    width: 4vw;
    height: 40vh;
}

#bottom {
    background-color: saddlebrown;
    position: relative;
    left: 0vw;
    width: inherit;
    height: 10vh;
}

@keyframes rotate {
    from {
        transform: rotate(-60deg);
    }
    to {
        transform: rotate(60deg);
    }
}
